body {
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
}

#title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

#description {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: grey;
}

svg {
  display: block;
  margin: auto;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.tooltip {
  position: absolute;
  padding: 10px 15px;
  font-size: 12px;
  background: lightgray;
  border: 0;
  border-radius: 4px;
  pointer-events: none;
}

.resource {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
}

.credit {
  text-align: center;
  font-size: 12px;
  color: grey;
}